.DS_Store
.idea/
*.iml
*.jks
*.keystore
*.p12
local.properties
android-app/.gradle/
android-app/**/build/
android-app/app/google-services.json
ios-app/ParadisoAdmin.xcodeproj/
ios-app/DerivedData/
ios-app/ParadisoAdmin/Resources/GoogleService-Info.plist
backend/.env
coverage.out
